
.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select-report {
  font-size: 15px;
  box-shadow: 1px 1px 5px #86858b;
  border-radius: 5px;
  border: none;
  width: 50px;
  height: 30px;
  margin: 1px;
  padding: 1px;
}

.seat_map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar_pleum {
  background-color: #9E76B4;
  color: aliceblue;
  width: 100%;
  height: 85px;
}

.seat_mapBody {
  background-color: #9E76B4;
  width: 1500px;
  height: 100vh;
  border-radius: 15px;
}

.navbar-logo {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
}

.article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 600px;
}

.custom-calendar{
  box-shadow: 1px 1px 5px #86858b;
  border-radius: 15px;
  
  font-size: 16px;
  border: none;
  width: 300px;
  height: 300px;
}

.head_text {
  color: #9E76B4;
}

.box {
  box-shadow: 1px 1px 5px #86858b;
  border-radius: 15px;
}

.box_seatMap {
  border-radius: 20px;
}

.att_css{
  box-shadow: 1px 1px 5px #86858b;
  border-radius: 15px;
  
  font-size: 20px;
  border: none;
  width: 100%;
  height: 500px;
}

.att_pei{
  box-shadow: 1px 1px 5px #86858b;
  border-radius: 15px;
  
  font-size: 20px;
  border: none;
  width: 100%;
  height: 350px;
}

.box_subject{
  box-shadow: 1px 1px 5px #86858b;
  border-radius: 15px;
  font-size: 16px;
  border: none;
  width: 300px;
  padding: 20px;
  margin-bottom: 20px;
}

.seatMap_pd {
  padding: 30px;
}

.fixed_sidebar {
  height: 100%;
  width: 17%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3a045a;
  overflow-x: hidden;
  padding-top: 20px;
}

.box_s {
  background-color: red;
  box-shadow: 1px 1px 5px #86858b;
  border-radius: 15px;
  width: auto;
  height: auto;
  margin-top: auto;
  padding: auto;
}

.check_list{
  color: #9E76B4;
}
